.accordion-button::after {
    font-family: 'Material Icons';
    content: "\e5cf";
    font-size: 1.5rem;
    width: 2rem;
    height: 2rem;
    color: white;
    background-image: none !important;
}
