.navbar {
    padding: 1.25rem 0; // 12px

    @include media-breakpoint-up(lg) { 
        height: 5rem; // 80px
     }
}
.logo { 
    width: 6rem; // 96px
    height: auto;
}
.icon-hamburger {
    font-size: 2.75rem; // 44px
}