.nav-scroller {
    overflow-y: hidden;
}
.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}
.nav-link {
    text-align: center;
    color: $gray-600;
    width: 4.0625rem;
    margin: 0.875rem 0.5rem 0.6875rem 0.5rem; // 14px 8px 11px 8px
    padding: 0 0 0.25rem 0 !important; // 4px
    transition: all 0.3s ease-in;
    border-bottom: 1px solid transparent;

    &:hover, &.active {
        border-bottom: 1px solid $tertiary;
    }
}

.link-gray {
    color: $gray-600;
    &:hover {
        color: darken($gray-600, 80%);
    }
}