.scroll-bar {
    //捲軸整體寬高
    &::-webkit-scrollbar {
        height: 0.5rem;
    }

    //捲軸底色
    &::-webkit-scrollbar-track {
      background-color: lighten($secondary, 20%);
      border-radius: 0.25rem;
    }

    //捲軸拉桿顏色
    &::-webkit-scrollbar-thumb {
      background-color: darken($secondary, 15%);
      opacity: 90%;
      border-radius: 0.25rem;
    }

    //hover 捲軸拉桿
    &::-webkit-scrollbar-thumb:hover {
        opacity: 100%;
    }
}