.bg {
    background-repeat: no-repeat;
    background-position: center center;
}
.bg-bottom {
    background-position: bottom center;
}
.bg-cover {
    background-size: cover;
}
.bg-fixed {
    background-attachment: fixed;
}

.bg-hero {
    background-image: url(../images/photo-1612157777902-5382bc6e864b.jpg);
}